In [1]:
import numpy as np
import pandas as pd

In [24]:
path = '/home/vestor/Documents/proyectos_python/energy_dam/models/inputs/input_energia.xlsx'
df = pd.read_excel(path, comment='#', index_col=None)
df.head(2)

,t[dias],Caudal Entrante[m³/s],Precipitacion[mm/dia],Evaporacion[mm/dia],Nivel[m],Area[km2],Volumen[Hm3],Caudal[m³/s],Nivel_res[m],Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,242.0,0.142593,0.633333,115.0,2.116721,0.933664,0.0,113.08420,NaN,DATOS,NaN
1,2,238.0,0.066667,1.066667,116.0,1.897833,1.799654,20.0,113.38509,NaN,Qmin [m³/s],180.0

In [25]:
unnameds = [i for i in df.columns if 'Unnamed' in i]
df = df.drop(unnameds, axis=1)
df.head(2)

,t[dias],Caudal Entrante[m³/s],Precipitacion[mm/dia],Evaporacion[mm/dia],Nivel[m],Area[km2],Volumen[Hm3],Caudal[m³/s],Nivel_res[m]
0,1,242.0,0.142593,0.633333,115.0,2.116721,0.933664,0.0,113.08420
1,2,238.0,0.066667,1.066667,116.0,1.897833,1.799654,20.0,113.38509

In [34]:
nulls = df.isnull()*1
nulls['Caudal[m³/s]'].sum() == nulls['Nivel_res[m]'].sum()

True

In [44]:
df['Nivel_res[m]'].mean()

116.54793337274486

In [40]:
df["Nivel[m]"].min()

115.0

In [43]:
nivel = df["Nivel[m]"].dropna().tail(1)

,t[dias],Caudal Entrante[m³/s],Precipitacion[mm/dia],Evaporacion[mm/dia],Nivel[m],Area[km2],Volumen[Hm3],Caudal[m³/s],Nivel_res[m]
21534,21535,367.58,0.470909,0.583333,NaN,NaN,NaN,NaN,NaN

In [57]:
q_nres = df[["Caudal[m³/s]","Nivel_res[m]"]].dropna()
q = df["Caudal[m³/s]"].dropna()
n_res = df["Nivel_res[m]"].dropna()
q_nres

     Caudal[m³/s]  Nivel_res[m]
0             0.0    113.084200
1            20.0    113.385090
2            40.0    113.540548
3            60.0    113.666450
4            80.0    113.776326
..            ...           ...
124        2480.0    118.533547
125        2500.0    118.559912
126        2520.0    118.586193
127        2540.0    118.612391
128        2560.0    118.638507

[129 rows x 2 columns]

In [85]:
def error(): raise Exception("Fuera de los limites")
inter = np.interp(2700, q, n_res, right=np.Inf, left=-np.inf)
np.isneginf(inter)
np.isinf(inter)

True

In [116]:
arr = np.array([1,2,3])
np.concatenate((arr,[5]),axis=0)
arr

array([1, 2, 3])

In [100]:
df['t[dias]'].max()

21535

In [101]:
df

,t[dias],Caudal Entrante[m³/s],Precipitacion[mm/dia],Evaporacion[mm/dia],Nivel[m],Area[km2],Volumen[Hm3],Caudal[m³/s],Nivel_res[m]
0,1,242.00,0.142593,0.633333,115.0,2.116721,0.933664,0.0,113.084200
1,2,238.00,0.066667,1.066667,116.0,1.897833,1.799654,20.0,113.385090
2,3,238.00,0.216667,1.721429,117.0,1.833740,3.105679,40.0,113.540548
3,4,232.00,0.479630,1.485714,118.0,1.926698,4.954179,60.0,113.666450
4,5,236.00,0.351852,1.060000,119.0,2.178765,7.451607,80.0,113.776326
...,...,...,...,...,...,...,...,...,...
21530,21531,373.36,0.240000,1.600000,NaN,NaN,NaN,NaN,NaN
21531,21532,369.43,0.196364,1.716667,NaN,NaN,NaN,NaN,NaN
21532,21533,364.13,0.474545,0.666667,NaN,NaN,NaN,NaN,NaN
21533,21534,364.36,0.118182,0.983333,NaN,NaN,NaN,NaN,NaN
21534,21535,367.58,0.470909,0.583333,NaN,NaN,NaN,NaN,NaN